body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.timetable {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.timetable th,
.timetable td {
  border: 1px solid rgb(18, 18, 18);
  padding: 8px;
}

.lunch {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-weight: bold;
}